<div class="row">
  <div class="col">
    <div class="card bg-light rounded-0">
      <div class="card-header text-center rounded-0">
        PAYMENT OPTIONS
      </div>
      <div class="card-body rounded-0 p-0">
        <table class="table table-striped table-borderless">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Ratio</th>
              <th scope="col">Index</th>
              <th scope="col">Created at</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let option of options">
              <td class="align-middle">{{ option.name }}</td>
              <td class="align-middle">{{ option.ratio }}%</td>
              <td class="align-middle">{{ option.index }}</td>
              <td class="align-middle">{{ option.createdAt | date }}</td>
              <td class="text-right">
                <i style="cursor: pointer" (click)="onDelete(option.id)" class="text-danger far fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer rounded-0 text-center text-secondary">
        Total Payment Options.: {{ options?.length }}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-light rounded-0">
      <div class="card-header text-center rounded-0">
        CREATE A PAYMENT OPTION
      </div>
      <div class="card-body rounded-0">
        <form #form="ngForm" autocomplete="off">
          <div class="form-group">
            <input name="name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" [class.is-valid]="name.valid" [(ngModel)]="optionService.name" class="form-control rounded-0" placeholder="Name" required>
            <div *ngIf="name.errors?.required" class="invalid-feedback">
              The name field is required.
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <input pattern="^[0-9]{1,9}$" name="ratio" #ratio="ngModel" [class.is-invalid]="ratio.invalid && ratio.touched" [class.is-valid]="ratio.valid" [(ngModel)]="optionService.ratio" class="form-control rounded-0" placeholder="Ratio" required>
              <div *ngIf="ratio.errors?.required" class="invalid-feedback">
                The ratio number field is required.
              </div>
              <div *ngIf="ratio.errors?.pattern" class="invalid-feedback">
                The ratio field must be numeric and 9 digits at most.
              </div>
            </div>
            <div class="col">
              <input pattern="^[0-9]{1,9}$" name="index" #index="ngModel" [class.is-invalid]="index.invalid && index.touched" [class.is-valid]="index.valid" [(ngModel)]="optionService.index" class="form-control rounded-0" placeholder="Index" required>
              <div *ngIf="index.errors?.required" class="invalid-feedback">
                The index number field is required.
              </div>
              <div *ngIf="index.errors?.pattern" class="invalid-feedback">
                The index field must be numeric and 9 digits at most.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-right rounded-0">
        <div class="btn btn-sm btn-secondary rounded-0" (click)="reset(form)">Reset</div>
        <div class="btn btn-sm btn-primary rounded-0 ml-1" (click)="onSubmit(form)">Submit</div>
      </div>
    </div>
  </div>
</div>