<div class="card bg-light rounded-0 border-0">
  <div class="card-header text-center rounded-0">
    CREATE A NEW ROOM
  </div>
  <div class="card-body rounded-0">
    <form #form="ngForm" autocomplete="off">
      <div class="form-group">
        <input pattern="^[0-9]{1,9}$" name="roomNumber" #roomNumber="ngModel" [class.is-invalid]="roomNumber.invalid && roomNumber.touched" [class.is-valid]="roomNumber.valid" [(ngModel)]="roomService.roomNumber" class="form-control rounded-0" placeholder="Room Number" required>
        <div *ngIf="roomNumber.errors?.required" class="invalid-feedback">
          The room number field is required.
        </div>
        <div *ngIf="roomNumber.errors?.pattern" class="invalid-feedback">
          The room number field must be numeric and 9 digits at most.
        </div>
      </div>
      <div class="form-group">
        <select name="roomTypeID" #roomTypeID="ngModel" [class.is-invalid]="roomTypeID.invalid && roomTypeID.touched" [class.is-valid]="roomTypeID.valid" [(ngModel)]="roomService.roomTypeID" class="form-control rounded-0" required>
          <option value="">Select Room Type</option>
          <option value="{{ type.id }}" *ngFor="let type of roomService.roomTypes">{{ type.name }}</option>
        </select>
        <div *ngIf="roomTypeID.errors?.required" class="invalid-feedback">
          The room type field is required.
        </div>
      </div>
      <div class="form-group form-check">
        <input name="isAvailable" #isAvailable="ngModel" [(ngModel)]="roomService.isAvailable" type="checkbox" class="form-check-input">
        <label class="form-check-label">Avaliable</label>
      </div>
    </form>
  </div>
  <div class="card-footer text-right rounded-0">
    <div class="btn btn-sm btn-secondary rounded-0" (click)="reset(form)">Reset</div>
    <div class="btn btn-sm btn-primary rounded-0 ml-1" (click)="onSubmit(form)">Submit</div>
  </div>
</div>